/* Barra de navegación */

.navbar {
    padding: 1rem;
    background-color: #f5f6ed;
}


.navbar-collapse {
    align-items: center;
}


/* Estilo registro */

.btn-reg {
    background-color: #8b9a8a;
    color: #fff;
    border-radius: 10px; 
    border: #8b9a8a;
    width: 140px;
    height: 30px;
}

/* Estilo login */

.btn-login {
    background-color: #8b9a8a;
    color: #fff;
    border-radius: 10px; 
    border: #8b9a8a;
    width: 140px;
    height: 30px;
}

/* Estilo columnas de la barra de navegación */

.col {
    align-items: center;
    justify-content: space-between;
}

/* Estilo iconos de contacto */

.seccion-instagram a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.bi-instagram {
    color: #3c240d;
}

.seccion-facebook a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.bi-facebook {
    color: #3c240d;
}

.seccion-twitter a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.bi-twitter {
    color: #3c240d;
}