<!-- Barra de navegación -->
<nav class="navbar navbar-expand-xxxl">
  <div class="container-fluid">
    <!-- Botón del menú desplegable -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
      <!-- Botón de registro -->
      <div class="col">
        <button class="btn-reg" type="submit">
          <a class="nav-link" routerLink="registro">REGISTRARSE</a>
        </button>
      </div>
      <!-- Botón de login -->
      <div class="col">
        <button class="btn-login" type="submit">
          <a class="nav-link" routerLink="login">INICIAR SESIÓN</a>
        </button>
      </div>
      <!-- Botones de contacto -->
      <div class="col">
        <div
          class="container text-center rectangulo d-flex justify-content-evently"
        >
          <div class="row">
            <div class="col-12 col-md-4 seccion-instagram">
              <a href="https://www.instagram.com/">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
            <div class="col-12 col-md-4 seccion-facebook">
              <a href="https://es-es.facebook.com/">
                <i class="bi bi-facebook"></i>
              </a>
            </div>
            <div class="col-12 col-md-4 seccion-twitter">
              <a href="https://twitter.com/home?lang=ES">
                <i class="bi bi-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header" style="background-color: #d4d0c4">
        <h4 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">
          Ingredientes
        </h4>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="offcanvas-body"
        style="background-color: #f5f6ed; height: 100vh; overflow-y: auto"
      >
      <!--Menú-->
      <div class="row">
        <ng-container *ngFor="let ingrediente of ingredientes; let i = index">
          <!-- Verificar si el tipo ha cambiado -->
          <ng-container *ngIf="tipoCambiado(ingrediente.tipo)">
            <!-- Establecer el nuevo tipo actual -->
            {{ setTipoActual(ingrediente.tipo) }}
            <div class="tipo">{{ ingrediente.tipo }}</div>
          </ng-container>
          <div class="row"></div>
          <!-- Mostrar los ingredientes en grupos de dos -->
          <div class="row">
            <ng-container *ngIf="i % 2 === 0">
              <div class="col-6" style="margin-top: 10px;">
                <label>
                  <input type="checkbox" [(ngModel)]="ingrediente.seleccionado" />
                  {{ ingrediente.nombre }}
                </label>
              </div>
              <ng-container *ngIf="i + 1 < ingredientes.length">
                <div class="col-6" style="margin-top: 10px;">
                  <label>
                    <input type="checkbox" [(ngModel)]="ingredientes[i + 1].seleccionado" />
                    {{ ingredientes[i + 1].nombre }}
                  </label>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>

        <div class="col" style="text-align: center">
          <button
            class="btn-recetas"
            type="submit"
            (click)="obtenerRecetasIngredientes()"
          >
            <a class="nav-link">BUSCAR RECETAS</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
