<!-- Seccion logo -->
<div class="text-center" style="margin-top: 30px">
  <a class="nav-link" routerLink=""
    ><img src="/assets/img/logo.png" class="w-25" alt=""
  /></a>
</div>
<!-- Titulo de las recetas que se van a mostrar -->
<div class="container rounded receta">
    <h1  *ngIf="categoria; else sinCategoria"
    >
      Recetas de {{ recetasAMostrar }}
    </h1>
    <ng-template #sinCategoria>
      <h1>
        <div>{{ recetasAMostrar }}</div>
      </h1>
    </ng-template>
</div>

<!-- Recetas que se muestran -->
  <div class="container pt-5" style="margin-top: 50px;" *ngFor="let receta of recetas" >
    
      <div class="row rounded outer" style="height: max-content;">

        <h1 class="text-center titulo"  >{{ receta.categoria }}</h1>

        <div class="col-md-4" style="margin-bottom: 50px; margin-top: 20px;">
            <input type="image" 
            src="assets/img/pruebareceta.jpg"
            class="rounded"
            width="300px"
            height="200"
            routerLink = "mostraUnaReceta"
          />
        </div>

        <div class="col-md-6" >
            <p style="font-size: 25px;">{{ receta.descripcion }}</p>
        </div>
    </div>
  </div>

