<!-- Seccion logo -->
<div class="text-center" style="margin-top: 30px">
  <a class="nav-link" routerLink=""
    ><img src="/assets/img/logo.png" class="w-25" alt=""
  /></a>
</div>
<!-- Titulo de las recetas que se van a mostrar -->
<div class="container rounded receta">
    <h1  *ngIf="categoria; else sinCategoria"
    >
      {{ recetasAMostrar }}
    </h1>
    <ng-template #sinCategoria>
      <h1>
       Recetas de {{recetasXCategoria}} 
      </h1>
    </ng-template>
</div>

<!-- Recetas que se muestran -->
  <div class="container pt-5 " style="margin-top: 50px;" *ngFor="let receta of recetas" >
 <!-- Titulo-->   
      <div class="row  rounded outer">
        <div class="col-md-10 text-center titulo" >
           {{ receta.categoria }} 
        </div>
<!-- Valoracion -->  
        <div class="col-md-2" style="margin-top: 50px; font-size: 25px;" >
          <i class="bi bi-star-fill" ></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
       </div>
<!-- Foto-->  
        <div class="col-md-6" style="margin-top: 40px;" >
            <input type="image" 
            src="assets/img/pruebareceta.jpg"
            class="rounded"
            width="350px"
            routerLink = "mostraUnaReceta"
          />
        </div>
<!-- Descripcion-->  
        <div class="col-md-5 descripcion rounded" >
            <p >{{ receta.descripcion }}</p>
        </div>
<!-- FechaAlta-->  
        <div class="fechaAlta">  
          {{receta.fechaAlta}}
        </div>
    </div>
  </div>

