<!-- Seccion logo -->
<div class="text-center" style="margin-top: 30px">
  <a class="nav-link" routerLink=""><img src="/assets/img/logo.png" class="w-25" alt="" /></a>
</div>
<div class="receta rounded">
  <!-- Para mostrar el nombre de la receta -->
  <h1 class="receta-title">{{ receta?.titulo }}</h1>

  <!--Para mostrar la valoración con estrellas-->

  <div class="receta-valoracion">
    <bar-rating [rate]="receta.valoracionMedia" [max]="5" [readOnly]="true">
      <ng-template ratingActive>
        <i class="bi bi-star-fill" style="margin: 2px; color: #3c240d"></i>
      </ng-template>
      <ng-template ratingInactive>
        <i class="bi bi-star-fill" style="margin: 2px; color: #8A9A8A"></i>
      </ng-template>
    </bar-rating>
  </div>

  <!-- Para mostrar la foto -->

  <div class="text-center my-4" style="margin-top: 50px;">
    <img src="{{ receta.foto }}" class="rounded img-fluid" style ="border: 2px solid #3c240d;"/>
  </div>

  <div class="listas" style = "margin-top: 80px;">
    <ul class="receta-list">
      <h2 class="receta-list-title">Ingredientes</h2>
      <!-- Para mostrar los ingredientes -->
      <span *ngIf="!ingredientes.length">¡Ups! Todavía tenemos que buscar los ingredientes.</span>
      <li *ngFor="let ingrediente of ingredientes" class="receta-ingrediente">
        {{ ingrediente.nombre }}:
        {{ ingrediente.cantidad }}
      </li>
    </ul>

    <!-- Para mostrar las informacion -->
    <ul class="receta-list info">
      <h2 class="receta-list-title">Información</h2>
      <li><b>Tiempo de preparación:</b> {{ receta.tiempo }} minutos.</li>
      <li><b>Tiempo total:</b> {{ receta.tiempo }} minutos.</li>
      <li><b>Categoria:</b> {{ receta.categoria }}.</li>
      <li><b>Comensales:</b> {{ receta.comensales }}</li>
    </ul>
  </div>
<br>
<br>
  <!-- Para mostrar la preparacion -->
  <div class="receta-preparacion">
    <ul class="receta-pasos">
      <h2 class="receta-list-title preparacion">Preparación</h2>
      <div class=" row">
        <div class="col">
          <li *ngFor="let paso of pasos; let i = index" class="receta-paso">
            <h4 class="receta-paso-title">Paso {{ i + 1 }}:</h4>
            <p>{{ paso.descripcion }}</p>
          </li>
        </div>
        <div class="col">
          <div *ngFor="let paso of pasos;" >
          <img  src="{{ paso.foto }}" class="rounded img-fluid" style ="border: 2px solid #3c240d;"/>
        </div>
        </div>
      </div>
    </ul>
  </div>
  <!--Valorar la receta-->
  <div>

    <div class="row text-center mt-5">
      <h5 class="fw-bold">¿Quieres valorar la receta?</h5>
    </div>
    <div class="d-grid col justify-content-center" class="receta-valoracion">
      <bar-rating [rate]="nuevaValoracion" [max]="5" (rateChange)="valorarReceta($event)">
        <ng-template ratingActive>
          <i class="bi bi-star-fill" style="margin: 2px; color: #3c240d"></i>
        </ng-template>
        <ng-template ratingInactive>
          <i class="bi bi-star-fill" style="margin: 2px; color: #8A9A8A"></i>
        </ng-template>
      </bar-rating>
    </div>
</div>