
{{receta?.titulo}}
{{receta?.categoria}}
{{receta?.comensales}}
{{receta?.tiempo}}
<ul>
  <!--Para mostrar los ingredientes-->
  <li *ngFor="let ingrediente of receta.ingredientesResponse">{{ingrediente?.nombre}}</li>
  <!--Para mostrar los pasos-->
  <li *ngFor="let pasos of receta.pasosResponse">{{pasos?.descripcion}}</li>
</ul>

<!--Para mostrar la valoración con estrellas-->

<div class="col-md-2" style="margin-top: 50px;" >
  <bar-rating [(rate)]="receta.valoracionMedia" [max]="5" [readOnly]="true">
    <ng-template ratingActive>
      <i class="bi bi-star-fill" style="margin: 2px; color: #3c240d"></i>
    </ng-template>
    <ng-template ratingInactive>
      <i class="bi bi-star-fill" style="margin: 2px; color: #d4d0c4"></i>
    </ng-template>
  </bar-rating>
</div>