<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>help-cook documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
        <link rel="stylesheet" href="../styles/vagrant.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">help-cook documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Escribe para buscar"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Componentes</li>
  <li
  >
  MostrarUnaRecetaComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>Fichero</h3>
</p>
<p class="comment">
    <code>src/app/pages/mostrar-una-receta/mostrar-una-receta.component.ts</code>
</p>


    <p class="comment">
        <h3>Descripción</h3>
    </p>
    <p class="comment">
        <p>Componente para la página de mostrar una receta</p>
<p>Se mostrará la receta que haya seleccionado el usuario</p>

    </p>


    <p class="comment">
        <h3>Implementa</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Meta datos</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-mostrar-una-receta</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./mostrar-una-receta.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./mostrar-una-receta.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Índice</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Propiedades</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#idRecetas" >idRecetas</a>
                            </li>
                            <li>
                                <a href="#receta" >receta</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Métodos</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(route: <a href="https://angular.io/api/router/ActivatedRoute" target="_blank">ActivatedRoute</a>, recetasService: <a href="../injectables/recetasService.html" target="_self">recetasService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Definido en <a href="" data-line="26" class="link-to-prism">src/app/pages/mostrar-una-receta/mostrar-una-receta.component.ts:26</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div class="io-description"><p>Injectamos los servicios necesarios para el funcionamiento de la página</p>
</div>
                            <div>
                                    <b>Parámetros :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Nombre</td>
                                                    <td>Tipo</td>
                                                <td>Opcional</td>
                                                    <td>Descripción</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>route</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/ActivatedRoute" target="_blank" >ActivatedRoute</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                        <td>
                                                                <p>Para poder acceder al párametro de la URL</p>

                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>recetasService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/recetasService.html" target="_self" >recetasService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                        <td>
                                                                <p>Servicio para conectar con el backEnd</p>

                                                        </td>
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Métodos
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Definido en <a href="" data-line="48"
                            class="link-to-prism">src/app/pages/mostrar-una-receta/mostrar-una-receta.component.ts:48</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Método que se carga cuando inicia la página</p>
<p>Recogemos el id de la receta que se quiere mostrar mediante el route</p>
<p>Llamamos al servicio de Recetas para la petición al back y almacenamos en nuestra variable receta la receta obtenida del servicio</p>
</div>

                    <div class="io-description">
                        <b>Devuelve : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Propiedades
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="idRecetas"></a>
                    <span class="name">
                        <span ><b>idRecetas</b></span>
                        <a href="#idRecetas"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Definido en <a href="" data-line="26" class="link-to-prism">src/app/pages/mostrar-una-receta/mostrar-una-receta.component.ts:26</a></div>
                        </td>
                    </tr>

            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Variable para almacenar el id de la receta seleccionada en las demás páginas</p>
</div>
                </td>
            </tr>

        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="receta"></a>
                    <span class="name">
                        <span ><b>receta</b></span>
                        <a href="#receta"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Tipo : </i>        <code><a href="../classes/Receta.html" target="_self" >Receta</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Definido en <a href="" data-line="20" class="link-to-prism">src/app/pages/mostrar-una-receta/mostrar-una-receta.component.ts:20</a></div>
                        </td>
                    </tr>

            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Variable para alamacenar la receta que recuperamos de la base de datos</p>
</div>
                </td>
            </tr>

        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { ActivatedRoute } from &#x27;@angular/router&#x27;;
import { Receta } from &#x27;src/app/Receta.model&#x27;;
import { recetasService } from &#x27;src/app/pages/mostrar-recetas/recetasService.service&#x27;;
/**
 * Componente para la página de mostrar una receta
 * 
 * Se mostrará la receta que haya seleccionado el usuario
 */
@Component({
  selector: &#x27;app-mostrar-una-receta&#x27;,
  templateUrl: &#x27;./mostrar-una-receta.component.html&#x27;,
  styleUrls: [&#x27;./mostrar-una-receta.component.css&#x27;],
})
export class MostrarUnaRecetaComponent implements OnInit {

/**
 * Variable para alamacenar la receta que recuperamos de la base de datos
 */
  receta: Receta;


  /**
   * Variable para almacenar el id de la receta seleccionada en las demás páginas
   */
  idRecetas: number;


  /**
   * Injectamos los servicios necesarios para el funcionamiento de la página
   * 
   * @param route Para poder acceder al párametro de la URL
   * @param recetasService Servicio para conectar con el backEnd
   */
  constructor(
    private route: ActivatedRoute,
    private recetasService: recetasService
  ) {}


  /**
   * Método que se carga cuando inicia la página
   * 
   * Recogemos el id de la receta que se quiere mostrar mediante el route
   * 
   * Llamamos al servicio de Recetas para la petición al back y almacenamos en nuestra variable receta la receta obtenida del servicio
   */
  ngOnInit(): void {
    this.route.paramMap.subscribe((params) &#x3D;&gt; {
      this.idRecetas &#x3D; +params.get(&#x27;idRecetas&#x27;);
    });

    this.recetasService.obtener(this.idRecetas).subscribe((receta) &#x3D;&gt; {
      this.receta &#x3D; receta;
      console.log(this.receta.ingredientesResponse)
      });
      
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">
{{receta?.titulo}}
{{receta?.categoria}}
{{receta?.comensales}}
{{receta?.tiempo}}
&lt;ul&gt;
  &lt;!--Para mostrar los ingredientes--&gt;
  &lt;li *ngFor&#x3D;&quot;let ingrediente of receta.ingredientesResponse&quot;&gt;{{ingrediente?.nombre}}&lt;/li&gt;
  &lt;!--Para mostrar los pasos--&gt;
  &lt;li *ngFor&#x3D;&quot;let pasos of receta.pasosResponse&quot;&gt;{{pasos?.descripcion}}&lt;/li&gt;
&lt;/ul&gt;

&lt;!--Para mostrar la valoración con estrellas--&gt;

&lt;div class&#x3D;&quot;col-md-2&quot; style&#x3D;&quot;margin-top: 50px;&quot; &gt;
  &lt;bar-rating [(rate)]&#x3D;&quot;receta.valoracionMedia&quot; [max]&#x3D;&quot;5&quot; [readOnly]&#x3D;&quot;true&quot;&gt;
    &lt;ng-template ratingActive&gt;
      &lt;i class&#x3D;&quot;bi bi-star-fill&quot; style&#x3D;&quot;margin: 2px; color: #3c240d&quot;&gt;&lt;/i&gt;
    &lt;/ng-template&gt;
    &lt;ng-template ratingInactive&gt;
      &lt;i class&#x3D;&quot;bi bi-star-fill&quot; style&#x3D;&quot;margin: 2px; color: #d4d0c4&quot;&gt;&lt;/i&gt;
    &lt;/ng-template&gt;
  &lt;/bar-rating&gt;
&lt;/div&gt;
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./mostrar-una-receta.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss"></code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Leyenda</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Elemento Html</span>
            </div>
            <div>
                <div class="color component"></div><span>Componente</span>
            </div>
            <div>
                <div class="color directive"></div><span>Elemento Html con directiva</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div>{{receta?.titulo}}{{receta?.categoria}}{{receta?.comensales}}{{receta?.tiempo}}<ul>  <!--Para mostrar los ingredientes-->  <li *ngFor="let ingrediente of receta.ingredientesResponse">{{ingrediente?.nombre}}</li>  <!--Para mostrar los pasos-->  <li *ngFor="let pasos of receta.pasosResponse">{{pasos?.descripcion}}</li></ul><!--Para mostrar la valoración con estrellas--><div class="col-md-2" style="margin-top: 50px;" >  <bar-rating [(rate)]="receta.valoracionMedia" [max]="5" [readOnly]="true">    <ng-template ratingActive>      <i class="bi bi-star-fill" style="margin: 2px; color: #3c240d"></i>    </ng-template>    <ng-template ratingInactive>      <i class="bi bi-star-fill" style="margin: 2px; color: #d4d0c4"></i>    </ng-template>  </bar-rating></div></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'FooterComponent', 'selector': 'app-footer'},{'name': 'InicioComponent', 'selector': 'app-inicio'},{'name': 'LoginComponent', 'selector': 'app-login'},{'name': 'MostrarRecetasComponent', 'selector': 'app-mostrar-recetas'},{'name': 'MostrarUnaRecetaComponent', 'selector': 'app-mostrar-una-receta'},{'name': 'NavbarComponent', 'selector': 'app-navbar'},{'name': 'PerfilComponent', 'selector': 'app-perfil'},{'name': 'RegistroComponent', 'selector': 'app-registro'},{'name': 'SubirRecetaComponent', 'selector': 'app-subir-receta'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'MostrarUnaRecetaComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> comparación de resultados "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No hay resultados que coincidan "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'MostrarUnaRecetaComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
