<form [formGroup]="pasoForm">
<div class="row">
    <div class="col-12">
      <label class="form-label fw-bold mt-3" for="descripcionP">Descripción del paso</label>
      <textarea name="text" id="descripcion" cols="50" rows="3" formControlName="descripcionPaso" placeholder="Descripción del paso"></textarea>
    </div>
    <div class="col-12">
      <label class="form-label fw-bold mt-3" for="inputFoto">Adjunta la imagen</label>
      <input class="form-control mt-4" type="file" name="formFile" id="inputFoto-${this.numPasos}"   (change)="onFileSelectedPasos($event)" required>
    </div>
    <div class="col-12">
      <button class="btn btn-primary mt-3 guardar-paso-btn" (click)="agregar()">Guardar paso</button>
    </div>
  </div>
</form>